## Visual Studio & C# ##
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.cache
*.ilk
*.pdb
*.log
*.dll
*.exe
*.appx
*.appxbundle

## Build results ##
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]uild/
[Bb]uildOutput/

## NuGet ##
[Nn]uget/
*.nupkg
packages/

## Other ##
*.sln.cache
_ReSharper.*/
